<span class="space-edit"></span>
<div class="edit-job-offer-container">

<%= simple_form_for(@profile) do |f| %>
  <div class="profile-edit-form">
  <div class="complet-profile-banner">
    <h2>Edit Profile</h2>
    <p>Please edit your profil informations below</p>
  </div>
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name, required: true %>
    <%= f.input :address, required: true %>
    <%= f.input :age, required: true, input_html: { type: 'number', min: 0 } %>
    <%= f.input :phone_number, required: true %>
    <%= f.input :email, required: true %>

    <% if @profile.photo.attached? %>
      <div class="profile-photo-preview">
        <%= image_tag(@profile.photo, class: "profile-photo") %>
      </div>
    <% end %>
    <%= f.input :photo, as: :file %>

    <div class="actions">
      <%= f.button :submit, "Update Profile", class: 'btn-update-profile' %>
      <%= link_to 'Cancel', profile_path(@profile), class: 'btn-cancel-profile' %>
    </div>
  </div>
<% end %>
</div>
