<div class="dashboard-container">
  <h1>Welcome to your dashboard</h1>
  <div class="dash-profile">
    <h2>Your profile</h2>
    <% if @profile %>

      <div class="contact-infos">
        <h4>Contact informations</h4>
        <div class="contact-list">
          <p><strong>First name:</strong><%= @profile.first_name %></p>
          <p><strong>Last name:</strong><%= @profile.last_name %></p>
          <p><strong>Address:</strong><%= @profile.address %></p>
          <p><strong>Age:</strong><%= @profile.age %></p>
          <p><strong>Phone number:</strong><%= @profile.phone_number %></p>
          <p><strong>@email:</strong><%= @profile.email %></p>
        </div>
        <p>----------------------------------</p>
      </div>

      <div class="experiences-infos">
        <h4>Experiences</h4>
        <% @experiences.each do |experience| %>
          <div class="experiences-list">
            <p><strong>Title:</strong> <%= experience.title %></p>
            <p><strong>Type:</strong> <%= experience.experience_type %></p>
            <p><strong>Domain:</strong> <%= experience.field %></p>
            <p><strong>Start Date:</strong> <%= experience.starting_date %></p>
            <p><strong>End Date:</strong> <%= experience.ending_date %></p>
            <p><strong>Description:</strong> <%= experience.description %></p>
          </div>
        <% end %>
        <p>----------------------------------</p>
      </div>

      <div class="skills-infos">
        <h4>Skills</h4>
        <% @skills.each do |skill| %>
          <div class="skills-list">
            <p><strong>Title:</strong> <%= skill.title %></p>
            <p><strong>Level:</strong> <%= skill.level %></p>
          </div>
        <% end %>
        <p>----------------------------------</p>
      </div>

      <div class="degrees-infos">
        <h4>Degrees</h4>
        <%@degrees.each do |degrees| %>
          <div class="degrees-list">
            <p><strong>Title:</strong> <%= degrees.title %></p>
            <p><strong>Level:</strong> <%= degrees.level %></p>
            <p><strong>Field:</strong> <%= degrees.field %></p>
            <p><strong>School:</strong> <%= degrees.school %></p>
          </div>
        <% end %>
        <p>----------------------------------</p>
      </div>

      <div class="languages-infos">
        <h4>Languages</h4>
        <% @languages.each do |language| %>
          <div class="languages-list">
            <p><strong>Title:</strong> <%= language.title %></p>
            <p><strong>Level:</strong> <%= language.level %></p>
          </div>
        <% end %>
        <p>----------------------------------</p>
      </div>
      <% else %>
              <p>You have not completed your profile yet.</p>
              <%= link_to 'Complete Profile', new_profile_path %>
    <% end %>

      </div>
      <% if @job_offers %>
        <div class="dash-joboffer">
          <h4>Targeted job offer</h4>
          <% @job_offers.each do |job_offer| %>
              <div class="joboffer-list">
                <p><strong>Title:</strong><%= job_offer.title %></p>
                <p><strong>Description:</strong><%= job_offer.description %></p>
              </div>
          <% end %>
          <p>----------------------------------</p>
        </div>
        <% else %>
          <p>You have not provided any job offer yet.</p>
          <%= link_to 'Complete Profile', new_profile_path %>
      <% end %>

      <% if @cvs.present? %>
        <div class="dash-cvs">
          <h4>Your generated resumes</h4>
          <% @cvs.each do |cv| %>
              <div class="cvs-list">
                <p><strong>Title:</strong><%= cv.title %></p>
              </div>
          <% end %>
        </div>
        <% else %>
          <p>You have not generated any resumes yet.</p>
      <% end %>
      <p>----------------------------------</p>
    </div>
