<section class="hero-section">
  <div class="waves-container">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(88, 70, 251, 0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(88, 70, 251, 0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(88, 70, 251, 0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(88, 70, 251, 0.3)" />
      </g>
    </svg>
  </div>
  <div class="hero-content">
    <h1>Cury AI<br>
      generate CV</h1>
    <p>Discover a new way to generate resumes with artificial intelligence.</p>
    <% if @user.present? && @user.profile.present? %>
      <%= link_to 'Resume profile', profile_path(@user), class: 'cta-button' %>
    <% else %>
      <%= link_to 'Start generating your CV !', new_profile_path, class: 'cta-button' %>
    <% end %>
  </div>
</section>
<section class="service-features">
  <div class="feature">
    <p>Seamless, intuitive, engaging, and user experience.</p>
  </div>
  <div class="feature">
    <p>Ensure your resume stands out in competitive job market</p>
  </div>
  <div class="feature">
    <p>Effortlessly create professional resumes in minutes</p>
  </div>
  <div class="feature">
    <p>Ensure accuracy and consistency with our platform</p>
  </div>
</section>
<section class="resume-section">
  <div class="resume-content">
    <h2>Say goodbye to hours spent perfecting your resume</h2>
    <p>Let our artificial intelligence do the work for you.</p>
    <a href="#" class="generate-button">Generate now</a>
  </div>
  <div class="resume-image">
    <%= video_tag("video-home.mp4", autoplay: true, loop: true, muted: true, class: "resume-video") %>
  </div>
</section>
<section class="standout-section">
  <h2 class="standout-heading"><strong>Ready to stand out?</strong></h2>
  <div class="feature-cards">
    <div class="card">
      <div class="icon"> <%= image_tag("icone-home-resume.png")%></div>
      <h3>Tailored Resumes</h3>
      <p>Our AI adapts to your specific needs, generating a resume that perfectly aligns with your expertise.</p>
      <a href="#" class="learn-more-link">Learn more</a>
    </div>
    <div class="card">
      <div class="icon"><%= image_tag("icone-home-time.png")%></div>
      <h3>Save Precious Time</h3>
      <p>Create a resume in just a few clicks, without worrying about formatting or layout.</p>
      <a href="#" class="learn-more-link">Learn more</a>
    </div>
    <div class="card">
      <div class="icon"><%= image_tag("icone-home-recruiters.png")%></div>
      <h3>Impress Recruiters</h3>
      <p>Get a professional and compelling resume that sets you apart from the competition at first glance.</p>
      <a href="#" class="learn-more-link">Learn more</a>
    </div>
  </div>
  <a href="#" class="see-all-features-link">See all features</a>
</section>
<div id="homecarousel" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#homecarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#homecarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#homecarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="testimonial">
        <blockquote>"I'm absolutely thrilled with my experience with Cury AI. Their revolutionary platform has truly streamlined and sped up the process of creating my CV. Thanks to their cutting-edge artificial intelligence, I was able to generate a professional and impactful resume in just minutes."</blockquote>
        <div class="testimonial-footer">
          <div class="testimonial-image"> <%= image_tag("customer-profil.png", alt: "Yannis Djaffer-Khodja") %></div>
          <div class="testimonial-name">Yannis Djaffer-Khodja</div>
          <div class="testimonial-rating">★★★★★</div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="testimonial">
        <blockquote>"The service provided by Cury AI was exceptional. The intuitive interface and guidance helped me to build a resume that stands out in a crowded market. I'm deeply impressed by how easy and fast the whole process was."</blockquote>
        <div class="testimonial-footer">
          <div class="testimonial-image"> <%= image_tag("customer-profil.png", alt: "John Doe") %></div>
          <div class="testimonial-name">John Doe</div>
          <div class="testimonial-rating">★★★★★</div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev text-danger" type="button" data-bs-target="#homecarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homecarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
