<div class="step4-infos-details">
  <div class="accordion" id="experienceAccordion">
  <% if @profile.experiences.present? %>
    <% @profile.experiences.each_with_index do |experience, index| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingExperience<%= index %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExperience<%= index %>" aria-expanded="false" aria-controls="collapseExperience<%= index %>">
            Experience <%= index + 1 %>: <%= experience.title %>
          </button>
        </h2>
        <div id="collapseExperience<%= index %>" class="accordion-collapse collapse" aria-labelledby="headingExperience<%= index %>" data-bs-parent="#experienceAccordion">
          <div class="accordion-body">
            <strong>Type:</strong> <%= experience.experience_type %><br>
            <strong>Started:</strong> <%= experience.starting_date %><br>
            <strong>Ended:</strong> <%= experience.ending_date %><br>
            <strong>Company's name:</strong> <%= experience.company %><br>
            <strong>Description:</strong> <%= experience.description %>
            <!-- Button trigger modal -->
              <div class="delete-button-container">
                <button type="button" data-controller="delete" data-action="click->delete#delete" data-delete-url-value="<%= experience_path(experience) %>" class="icon-button-delete">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no-experience-message">No Experiences</div>
  <% end %>
</div>
</div>
